---
layout: main
title: Home
---
<header class="hero hero-home">
  <div class="wrapper gutter">
    <h1>Community feel. Professional look.</h1>
    <p class="giga text-fff">Create your team’s new look with our simple, fast brand builder.</p>
    <a class="btn btn-ghost giga" href="/sign-up">Sign Up</a>
  </div>
</header>
<div class="grid grid-logos island-1-2">
  <div class="unit [ xs-1-2 m-1-4 ] text-center island-1-2">
    <img src="{{site.baseurl}}/images/logo-ns.svg" alt="">
  </div>
  <div class="unit [ xs-1-2 m-1-4 ] text-center island-1-2">
    <img src="{{site.baseurl}}/images/logo-tt.svg" alt="">
  </div>
  <div class="unit [ xs-1-2 m-1-4 ] text-center island-1-2">
    <img src="{{site.baseurl}}/images/logo-qc.svg" alt="">
  </div>
  <div class="unit [ xs-1-2 m-1-4 ] text-center island-1-2">
    <img src="{{site.baseurl}}/images/logo-met.svg" alt="">
  </div>
</div>
<div class="text-center max-length gutter pad-t-2 pad-b-2 push-2">
  <h2 class="text-center push-2 pad-t-2">Design your brand from top to bottom.</h2>
  <p class="push-2">With the Polished brand builder, you can create any asset your team could need. From logos, to jerseys, to merchandise, to advertisements. With simple templates, a variety of pre-designed elements, and an easy to use platform, professional level sports branding is at your fingertips!</p>
  <div class="embed embed-16by9 push-2">
    <img class="embed-item" src="{{site.baseurl}}/images/laptop-platform.png" alt="">
  </div>
</div>
{% include cta.html cta-overlay-color='' btn-color='white' %}
{% include testimonials.html testimonials-overlay-color='black' %}
