<div>
  <h1 class="peta push-0 gutter pad-t">Sign Up</h1>
  <form method="post" action="//formspree.io/robi0653@algonquinlive.com">
    <fieldset class="island-1-2">
      <div class="grid island-1-4">
        <div class="unit [ xs-1 s-1-2 ] island-1-4">
          <label class="hidden" for="fname">First Name</label>
          <input class="milli" type="text" id="fname" name="fname" placeholder="First Name">
        </div>
        <div class="unit [ xs-1 s-1-2 m-1-2 ] island-1-4">
          <label class="hidden" for="lname">Last Name</label>
          <input class="milli" type="text" id="lname" name="lname" placeholder="Last Name">
        </div>
        <div class="unit [ xs-1 ] island-1-4">
          <label class="hidden" for="email">Email</label>
          <input class="milli" type="email" id="email" name="email" placeholder="Email">
        </div>
        <div class="unit [ xs-1 ] island-1-4">
          <label class="hidden" for="password">Password</label>
          <input class="milli" type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="unit [ xs-1 ] island-1-4">
          <label class="hidden" for="password-confirm">Confirm Password</label>
          <input class="milli" type="password" id="password-confirm" name="password-confirm" placeholder="Confirm Password">
        </div>
      </div>
    </fieldset>
    <fieldset class="gutter pad-b">
      <small class="block push">I agree to the <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>.</small>
      <div>
        <button class="btn" type="submit">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
