<div class="testimonials relative">
  <div class="testimonials-overlay {{include.testimonials-overlay-color}}"></div>
  <!-- <div class="wrapper relative"> -->
    <blockquote id="quote-1" class="active pin-c gutter" style="display: block;">
      <p>With Polished I was able to easily update my hockey team’s brand. I made a new logo, jersey, and team jackets. It was so easy and quick, I would definitely recommend it to other teams!</p>
      <cite class="">— Joe Hughes, <span>Bay City Sharks</span></cite>
    </blockquote>
    <blockquote id="quote-2" class="gutter pin-c">
      <p>I was able to easily take an idea I had in my head and use the simple tools to make it a reality. We are so happy with the fanctastic products and results we got for our team!</p>
      <cite class="">— Alexa Johnson, <span>Ottawa Wildcats</span></cite>
    </blockquote>
    <blockquote id="quote-3" class="gutter pin-c">
      <p>The last company I worked with made it really difficult to get what we wanted. With Polished+ we got exactly the look and feel we were looking for! It was easy and efficient and fun!</p>
      <cite class="">— Felix Addams, <span>Montreal Sled Dogs</span></cite>
    </blockquote>
    <ul class="list-group-inline next-previous push-0">
      <li>
        <a class="previous inline-block island-1-2" href="#">
          <i class="icon i-1-1-2">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
          </i>
          <span class="icon-label hidden bold">Previous</span>
        </a>
      </li>
      <li>
        <a class="next inline-block island-1-2" href="#">
          <i class="icon i-1-1-2">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
          </i>
          <span class="icon-label hidden bold">Next</span>
        </a>
      </li>
    </ul>
  <!-- </div> -->
</div>
