.accordian-unit {
  border-bottom: 2px solid #ddd;
}

.accordian-label {
  font-weight: bold;
  color: var(--color-primary);
  position: relative;
  cursor: pointer;
}

.accordian-label,
.accordian-content {
  padding-right: 1.3rem;
}

.accordian-content {
  overflow: hidden;
  max-height: 0;
  transition:
    max-height .25s cubic-bezier(.75, 0, .25, 1);
}

.accordian-label.open + .accordian-content {
  max-height: 11.3rem;
}

.accordian-label .icon {
  transition:
    transform .25s cubic-bezier(.75, 0, .25, 1),
    color .25s cubic-bezier(.75, 0, .25, 1);
  color: #ccc;
}

.accordian-label:hover .icon,
.open .icon {
  color: #666;
}

.accordian-label.open .icon {
  transform: translateY(-50%) rotate(45deg);
}


@media only screen and (min-width: 38em) {

  .accordian-label.open + .accordian-content {
    max-height: 6.8545454545rem;
  }

}


@media only screen and (min-width: 60em) {

  .accordian-label.open + .accordian-content {
    max-height: 6rem;
  }

}
