.hero-platform {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("{{site.baseurl}}/images/hero-platform.jpg") center left / cover no-repeat;
}

.grid-tour-wrap {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
}

.brand-cursor {
  /* width: 2px; */
  width: .6%;
  height: 12%;
  position: absolute;
  background-color: #000;
  bottom: 13%;
  right: 26%;
  z-index: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {

  0% {
    opacity: 100%;
  }

  40% {
    opacity: 100%;
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }

}

@media only screen and (max-width: 38em) {

  .grid-tour-text h3 {
    padding-top: 2.6rem;
  }

  /* .grid-tour-text p {
    padding-bottom: 2.6rem;
  } */

}

@media only screen and (min-width: 38em) {

  .grid-tour .unit {
    margin-bottom: 3rem;
  }

  .grid-tour-text {
    padding: 3rem;
  }

}
