---
layout: default
---
<header class="masthead sticky">
  {% include nav.html nav-id='nav' nav-class='header-nav wrapper gutter pad-t-1-2 pad-b-1-2' ul-class='list-group-inline' ul-inner='list-group nav-list' li-class='' li-inner='valign-middle' link-size='' btn-size='' a-class='' %}
  <a class="tog-nav m-0" href="#nav-footer">
    <span class="tog tog-top"></span>
    <span class="tog tog-middle"></span>
    <span class="tog tog-bottom"></span>
  </a>
</header>
<main id="main">
  {{content}}
</main>
<footer class="footer">
  <div class="grid wrapper gutter-1-2 pad-t-2 pad-b-2">
    <div class="unit [ xs-1 m-1-2 ] island-1-2">
      {% include nav.html nav-id='nav-footer' nav-class='footer-nav milli' ul-class='list-group' ul-inner='list-group' li-class='' li-inner='' link-size='' btn-size='' a-class='inline-block push-1-2' %}
      <a class="block push-1-2 milli" href="#">Contact Us</a>
      <a class="block milli" href="#">Legal</a>
    </div>
    <div class="unit [ xs-1 m-1-2 ] island-1-2">
      <a class="btn btn-light inline-block push-1-2" href="/sign-up">Sign Up</a>
      <ul class="push-0 list-group-inline">
        <li class="push-r">
          <a class="inline-block" href="#">
            <i class="icon i-3-4">
              <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#insta" /></svg>
            </i>
            <span class="icon-label hidden bold">Instagram</span>
          </a>
        </li>
        <li class="push-r">
          <a class="inline-block" href="#">
            <i class="icon i-3-4">
              <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#fbook" /></svg>
            </i>
            <span class="icon-label hidden bold">Facebook</span>
          </a>
        </li>
        <li>
          <a class="inline-block" href="#">
            <i class="icon i-3-4">
              <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#twitter" /></svg>
            </i>
            <span class="icon-label hidden bold">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
